@use "../../variables" as mixin;
.header{
    margin: 1.5rem 0;

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        li{
            list-style: none;
            img{
                width: 70px;
                align-items: center;
            }
        }
        }

        a{
            text-decoration: none;
            color: mixin.$secondaryColor;
        }

        .logo{
            display: flex;
        }
        .logo_text{
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 30px;          
        .all{
            color: mixin.$primaryTextColor;
        }
    }
}

